body 
{
    padding: 5px;
}


.WhoInRoom
{
  text-align:left;
  margin-bottom: 3px;
  background:#eee;
  width: auto;
  height: 50vh;
}

.Players{
    text-align:left;
    background:#eee;
    margin-left: 10px;
    width: 95%;
    height:40vh;
    overflow:auto;
}

.Chat{
  text-align:left;
  border: 1px solid #fff;
  background:#eee;
  width: auto;
  height: 48vh;
}

.actions
{
    overflow: hidden;
    text-overflow: ellipsis;
}

#chat
{
  padding:0px;
}

#letters
{
    text-align:left;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 95%;
    height:31vh;
    overflow-x:hidden;
    overflow-y:auto;


}

#game
{

    text-align: left;
    background: #eee;
    height: 99.5vh;
    width: auto;
    overflow: auto;
    margin-bottom: 10px;
}
.screen
{
    background-color:#aaa;
    border: 5px solid black;
    max-height: 80%
}
#command
{
    margin-top: 3px;
    height: 20px;
    width: 100%;
}
#statBar
{
    background-color:#aaa;
    border: 1px solid black;
    height: 30px;
}

#input {
    min-width: 80%;
    margin: 10px;
}

