body
{
    padding: 5px;
    background-image: url(../images/brick.jpg);
}


.WhoInRoom
{
    text-align:left;
    margin-bottom: 3px;
    background:#eee;
    width: auto;
    height: 50vh;
    border-radius: 10px;
}

.Players{
    text-align:left;
    background:#eee;
    margin-left: 10px;
    width: 95%;
    height:40vh;
    overflow:auto;
}

.Chat{
    text-align:left;
    border: 1px solid #fff;
    background:#eee;
    width: auto;
    height: 100%;
    border-radius: 10px;
}

#chat
{
    padding:0px;
}

#letters
{
    text-align:left;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 95%;
    height:31vh;
    overflow-x:hidden;
    overflow-y:auto;


}

#game
{

    text-align: left;
    background: #eee;
    height: 100%;
    width: auto;
    overflow: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
.screen
{
    background-color:#aaa;
    max-height: 80%

}
#command
{
    margin-top: 10px;
    min-width: 50vw;

}

#cmndbtn {
    margin-top: 10px;
}
#statBar
{
    background-color:#aaa;
    height: 30px;
    border-radius: 10px;
}
#actions
{
    overflow: hidden;
    text-overflow: ellipsis;

}

#input {
    min-width: 80%;
    margin: 10px;
}

#gamePage {
    margin-top: 0px;
    border-top: 0px;
    padding-top: 0px;
}

#room {
    margin-top: 1px; max-height: 300px; width: 100%
}

#gameHeader {
    margin: 0px;
}

.screen {
    width: 100%;
    height: 65vh;
    border-radius: 10px;

}

#statBar {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-top: 5px;
}

#actions {
    margin-bottom: 0px;
    margin-top: 5px;
}

.action-buttons {
    margin: 3%;
}

#info {
    width: auto;
    max-width: 300px;
    min-width: 300px;
    position: absolute;
    height: 65vh;
    right: 10px;
}

.radThings {
    border-radius: 10px;
}


